Repository blackphoenix42/algolens-private: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write, markdownlint-cli2 --fix, stylelint --fix, npm run licenses:check

ai
  .env.example
  package-lock.json
  package.json
  src/components/ai/AIChatPanel.tsx
  src/components/ai/AlgorithmRecommendation.tsx
  src/components/ai/EnhancedCodePanel.tsx
  src/components/ai/SmartExplanationPanel.tsx
  src/components/ai/index.ts
  src/components/home/AIRecommendationPanel.tsx
  src/components/home/AISearchHelper.tsx
  src/config/featureFlags.ts
  src/hooks/useGPT.ts
  src/pages/HomePage.tsx
  src/pages/VisualizerPage.tsx
  src/services/ai/GPTService.ts
  src/services/ai/config.ts
  src/services/ai/index.ts
  src/services/ai/prompts.ts
  src/services/ai/types.ts
  src/services/index.ts
Due: eslint --max-warnings=0 --fix, prettier --write, npm run licenses:check

p
  package.json
Due: prettier --write, npm run licenses:check

updt
  src/components/panels/KeyboardShortcutsPanel.tsx
  src/pages/VisualizerPage.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

minimialistic
  debug-ci-screenshot.png
  index.html
  src/app/AppLayout.tsx
  src/app/router.tsx
  src/components/controls/Transport.tsx
  src/components/debug/DebugPanel.tsx
  src/components/debug/DebugToggle.tsx
  src/components/export/ExportControls.tsx
  src/components/onboarding/OnboardingTour.tsx
  src/components/ui/ThemeToggle.tsx
  src/engine/runner.ts
  src/hooks/usePerformanceMonitor.ts
  src/main.tsx
  src/pages/HomePage.tsx
  src/pages/VisualizerPage.tsx
  src/providers/ThemeProvider.tsx
  src/services/monitoring/eventLogger.ts
  src/services/monitoring/index.ts
  src/services/monitoring/logger.ts
  src/services/monitoring/sessionTracker.ts
Due: eslint --max-warnings=0 --fix, prettier --write

updt
  package-lock.json
  package.json
Due: prettier --write, npm run licenses:check

search
  src/components/home/FilterBar.tsx
  src/components/ui/SearchInput.tsx
  src/pages/HomePage.tsx
  src/styles/globals.css
  src/utils/searchFilters.ts
  src/utils/searchMonitor.ts
  src/utils/searchUtils.ts
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

comment enhanced chart
  src/pages/VisualizerPage.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

updat
  src/components/controls/Transport.css
  src/components/controls/Transport.tsx
  src/engine/runner.ts
  src/utils/searchTestDemo.ts
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

updt
  src/components/controls/Transport.tsx
  src/components/export/ExportControls.tsx
  src/components/export/ExportMenu.tsx
  src/components/onboarding/OnboardingTour.css
  src/components/onboarding/OnboardingTour.tsx
  src/components/panels/ExplainPanel.tsx
  src/components/panels/FeatureStatusPanel.tsx
  src/components/panels/MetricsBar.tsx
  src/components/system/NotificationSystem.tsx
  src/components/ui/AlgorithmIcon.tsx
  src/components/ui/FloatingParticles.tsx
  src/components/ui/Modal.tsx
  src/components/ui/OptimizedImage.tsx
  src/config/featureFlags.ts
  src/config/security.ts
  src/core/animation/animations.ts
  src/core/animation/index.ts
  src/core/animation/smoothAnimations.ts
  src/core/audio/narration.ts
  src/core/workers/algorithm.worker.ts
  src/core/workers/index.ts
  src/hooks/useAlgorithmWebWorker.ts
  src/hooks/useMediaQuery.ts
  src/providers/VoiceNarrationProvider.tsx
  src/services/analytics/analytics.ts
  src/services/analytics/webVitals.ts
  src/services/monitoring/logger.ts
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

updt
  src/core/index.ts
Due: eslint --max-warnings=0 --fix, prettier --write

updt
  src/components/canvas/Array/ArrayCanvas.tsx
  src/components/canvas/Array/CanvasToolbar.tsx
  src/components/canvas/Array/EnhancedArrayVisualization.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

updt
  src/components/panels/AboutPanel.tsx
  src/components/panels/CollapsibleExportPanel.tsx
  src/components/ui/LoadingScreen.tsx
  src/pages/VisualizerPage.tsx
  src/styles/globals.css
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

updt
  src/components/canvas/Array/CanvasToolbar.tsx
  src/components/controls/ArrayViewPanel.tsx
  src/components/controls/DatasetPanel.tsx
  src/components/export/ExportPanel.tsx
  src/components/panels/AboutPanel.tsx
  src/components/panels/CodePanel.tsx
  src/pages/VisualizerPage.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

updt
  DOCUMENTATION_STATUS.md
  src/app/router.tsx
  src/components/canvas/Graph/GraphCanvas.tsx
  src/components/canvas/Graph/GraphVisualization.tsx
  src/components/canvas/Graph/index.ts
  src/config/env.ts
  src/main.tsx
  src/pages/HomePage.tsx
  src/services/index.ts
  src/services/monitoring/index.ts
  src/utils/ErrorBoundary.tsx
  src/utils/gitHubPagesRouting.ts
  src/utils/mobileServiceWorkerCleanup.ts
  src/utils/resourcePreloader.ts
  vite.config.ts
Due: eslint --max-warnings=0 --fix, prettier --write, markdownlint-cli2 --fix

fixes
  src/components/home/FilterBar.tsx
  src/pages/HomePage.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

update funding.yml
  .github/FUNDING.yml
Due: prettier --write

add .cph/ to .gitignore
  .gitignore
Due: none

fix: resolve bugs, clean up dead code, improve a11y, and update stale docs
  commitlint.config.cjs
  docs/ARCHITECTURE.md
  docs/ROADMAP.md
  package-lock.json
  package.json
  prettier.config.cjs
  scripts/generate-sitemap.mjs
  src/app/router.tsx
  src/components/debug/PerformanceMonitor.css
  src/components/home/AlgoCard.tsx
  src/components/home/FilterBar.tsx
  src/components/panels/AboutPanel.tsx
  src/components/panels/CodePanel.tsx
  src/components/panels/ComplexityExplorer.tsx
  src/components/ui/Icons.tsx
  src/config/env.ts
  src/engine/runner.ts
  src/pages/HomePage.tsx
  src/pages/VisualizerPage.tsx
  src/providers/KeyboardProvider.tsx
  src/services/ai/GPTService.ts
  src/services/storage/index.ts
  src/services/storage/statePersistence.ts
  src/services/storage/urlState.ts
  src/styles/globals.css
  src/utils/searchUtils.ts
  stylelint.config.cjs
  vitest.config.ts
Due: eslint --max-warnings=0 --fix, prettier --write, markdownlint-cli2 --fix, stylelint --fix, npm run licenses:check

feat: add algorithm catalog and enhanced UI components for improved user experience
  Algo Vis FULL.docx
  src/components/home/AlgoCard.tsx
  src/pages/HomePage.tsx
  src/styles/globals.css
Due: eslint --max-warnings=0 --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --max-warnings=0 --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,yml,yaml,html})) or (any of: *.md)) or (any of: *.css)) or (any of: package.json)
  markdownlint-cli2 --fix: any of: *.md
  stylelint --fix: any of: *.css
  npm run licenses:check: any of: package.json
